<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApssaCC.Properties.Settings.PIMENTELConnectionString"
            connectionString="Data Source=10.10.2.11;Initial Catalog=PIMENTEL;Persist Security Info=True;User ID=sa;Password=$3rv3r2021"
            providerName="System.Data.SqlClient" />
        <add name="ApssaCC.Properties.Settings.PIMENTELConnectionString1"
            connectionString="Data Source=10.10.2.11;Initial Catalog=PIMENTEL;Persist Security Info=True;User ID=sa;Password=$3rv3r2021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>